main {
  flex-grow: 1;
  display: flex;
}

.content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.movie-text {
  width: 560px;
  font-size: 1rem;
  font-weight: 100;
}

.movie-button {
  height: 80px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 200;
  border-radius: 10px;
  background-color: rgba(146,13,2,1);
  margin-top: 30px;
  box-shadow: 2px 2px 5px #ff2515;
}

.movie-button:hover {
  color: #000000;
  background-color: #ff2515;
}

.social-container {
  width: 48px;
}

.social-container ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.social-container li {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: 0.5s;
}

.social-container i {
  font-size: 1.5rem;
}

.social-container i:hover {
  color: rgba(146,13,2,1);
}

.social-container li:hover {
  background-color: #000000;
  border-color: rgba(146,13,2,1);
}

@media (max-width:600px) {
  .content-container {
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 140px;
  }

  .content-container img {
    width: 250px;
    height: 140px;
  }
  
  .movie-text, .social-container {
    display: none;
  }

  .movie-button {
    height: 70px;
    width: 250px;
    font-size: 1.3rem;
    font-weight: 150;
    background-color: rgba(146,13,2,1);
  }
   
}


